TELEGRAM_BOT_TOKEN=""
ASENIX_WATCHER_PUBLIC_URL=https://watch.asenix.net
ASENIX_WATCHER_REPO=https://github.com/sacura1/asenix-watcher.git
ASENIX_WATCHER_PORT=8787
ASENIX_PUBLIC_RPC_URL=https://testnet.asentum.com
ASENIX_SCAN_WINDOW_BLOCKS=256
ASENIX_POLL_SECONDS=60
ASENIX_PUBLIC_BLOCK_STALE_SECONDS=600
ASENIX_PUBLIC_BLOCK_CRITICAL_SECONDS=3600
